<button matButton="outlined" (click)="fileImport.click()">
  Import File<mat-icon>upload</mat-icon>
</button>
<input
  hidden
  #fileImport
  type="file"
  accept=".owsave,.json,application/json"
  (change)="openFile($event)"
/>

<form [formGroup]="form" (ngSubmit)="saveFile()">
  <mat-form-field>
    <mat-label>Number of experienced timeloops <app-code-hint msg="loopCount" /></mat-label>
    <input matInput formControlName="loopCount" type="number" step="1" />
  </mat-form-field>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >Discovered frequencies <app-code-hint msg="knownFrequencies"
        /></mat-panel-title>
      </mat-expansion-panel-header>

      <fieldset formArrayName="knownFrequencies">
        @for (
          _ of knownFrequencies.controls.slice(0, vanillaFrequencies.length);
          track vanillaFrequencies[$index][0]
        ) {
          <mat-slide-toggle [formControlName]="$index">
            {{ vanillaFrequencies[$index][0] }}
            <span class="hint">{{ vanillaFrequencies[$index][1] }}</span>
            <app-code-hint msg="{{ $index }}" />
          </mat-slide-toggle>
        }
        @for (_ of knownFrequencies.controls.slice(vanillaFrequencies.length); track $index) {
          <div>
            <mat-slide-toggle [formControlName]="$index + vanillaFrequencies.length">
              Custom Frequency
              <app-code-hint msg="{{ $index + vanillaFrequencies.length }}" />
            </mat-slide-toggle>
            <button
              type="button"
              matIconButton
              (click)="removeAt(knownFrequencies, $index + vanillaFrequencies.length)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <button
          type="button"
          matButton
          (click)="knownFrequencies.push(fb.nonNullable.control(false))"
        >
          Add<mat-icon>add</mat-icon>
        </button>
      </fieldset>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Discovered signals <app-code-hint msg="knownSignals" /></mat-panel-title>
      </mat-expansion-panel-header>

      <fieldset formGroupName="knownSignals">
        @for (key of Object.keys(knownSignals.controls); track key) {
          <div>
            <mat-slide-toggle [formControlName]="key">
              @if (SignalName[Number(key)]; as signalName) {
                {{ signalName }}
                <app-code-hint msg="{{ key }}" />
              } @else {
                {{ key }}
              }
            </mat-slide-toggle>
            <button type="button" matIconButton (click)="knownSignals.removeControl(key)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <div>
          <mat-form-field>
            <mat-label>New Signal</mat-label>
            <input
              matInput
              [(ngModel)]="newSignal"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              [matAutocomplete]="newSignalAutocomplete"
            />
            <mat-autocomplete #newSignalAutocomplete="matAutocomplete">
              @for (option of (filteredSignals$ | async) ?? []; track option) {
                <mat-option [value]="option">
                  @if (SignalName[Number(option)]; as signalName) {
                    {{ signalName }}
                    <span class="hint">({{ option }})</span>
                  } @else {
                    {{ option }}
                  }
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <button
            type="button"
            matButton
            [disabled]="
              newSignal() === null ||
              (this.currentKnownSignals$ | async)?.includes(newSignal()?.toString() ?? '')
            "
            (click)="
              knownSignals.addControl(newSignal()!.toString(), fb.nonNullable.control(false));
              newSignal.set(null)
            "
          >
            Add<mat-icon>add</mat-icon>
          </button>
        </div>
      </fieldset>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >Persistent conditions <app-code-hint msg="dictConditions"
        /></mat-panel-title>
      </mat-expansion-panel-header>

      <fieldset formGroupName="dictConditions">
        @for (key of Object.keys(dictConditions.controls); track key) {
          <div>
            <mat-slide-toggle [formControlName]="key">
              @let info = KnownConditions.get(key) ?? [Origin.UNKNOWN, null];
              @if (info[1] !== null) {
                {{ info[1] }}
                <app-code-hint msg="{{ key }}" />
              } @else {
                {{ key }}
              }
              <br />
              <span class="hint">{{ info[0] }}</span>
            </mat-slide-toggle>
            <button type="button" matIconButton (click)="dictConditions.removeControl(key)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <div>
          <mat-form-field>
            <mat-label>New Condition</mat-label>
            <input
              matInput
              [(ngModel)]="newCondition"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              [matAutocomplete]="newConditionAutocomplete"
            />
            <mat-autocomplete #newConditionAutocomplete="matAutocomplete">
              @for (option of (filteredConditions$ | async) ?? []; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <button
            type="button"
            matButton
            [disabled]="
              newCondition() === '' ||
              (this.currentConditionKeys$ | async)?.includes(newCondition())
            "
            (click)="
              dictConditions.addControl(newCondition(), fb.nonNullable.control(false));
              newCondition.set('')
            "
          >
            Add<mat-icon>add</mat-icon>
          </button>
        </div>
      </fieldset>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ship Log <app-code-hint msg="shipLogFactSaves" /></mat-panel-title>
      </mat-expansion-panel-header>

      hi
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >New Ship Log facts <app-code-hint msg="newlyRevealedFactIDs"
        /></mat-panel-title>
      </mat-expansion-panel-header>

      <fieldset formArrayName="newlyRevealedFactIDs">
        @for (_ of newlyRevealedFactIDs.controls; track $index) {
          <div>
            <mat-form-field>
              <mat-label>Fact {{ $index + 1 }}</mat-label>
              <input
                matInput
                [formControlName]="$index"
                type="text"
                [matAutocomplete]="newlyRevealedFactIDsAutocomplete"
              />
              <mat-autocomplete #newlyRevealedFactIDsAutocomplete="matAutocomplete">
                @for (option of ((filteredFactIDs$ | async) ?? [])[$index] | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            <button type="button" matIconButton (click)="removeAt(newlyRevealedFactIDs, $index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <button
          type="button"
          matButton
          (click)="newlyRevealedFactIDs.push(fb.nonNullable.control(''))"
        >
          Add<mat-icon>add</mat-icon>
        </button>
      </fieldset>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-form-field>
    <mat-label>Last reason of death <app-code-hint msg="lastDeathType" /></mat-label>
    <mat-select formControlName="lastDeathType">
      @for (deathType of deathTypes; track deathType) {
        <mat-option [value]="deathType.value">
          {{ deathType.name }}<app-code-hint msg="{{ deathType.value }}" />
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >Number of burned marshmallows eaten <app-code-hint msg="burnedMarshmallowEaten"
    /></mat-label>
    <input matInput formControlName="burnedMarshmallowEaten" type="number" step="1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of fully completed timeloops <app-code-hint msg="fullTimeloops" /></mat-label>
    <input matInput formControlName="fullTimeloops" type="number" step="1" min="0" />
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >Number of perfect marshmallows eaten <app-code-hint msg="perfectMarshmallowsEaten"
    /></mat-label>
    <input matInput formControlName="perfectMarshmallowsEaten" type="number" step="1" min="0" />
  </mat-form-field>

  <mat-slide-toggle formControlName="warpedToTheEye">
    Is at the Eye of the Universe
    <app-code-hint msg="warpedToTheEye" />
  </mat-slide-toggle>

  <mat-form-field>
    <mat-label
      >Seconds remaining in loop after warp to the Eye <app-code-hint msg="secondsRemainingOnWarp"
    /></mat-label>
    <input matInput formControlName="secondsRemainingOnWarp" type="number" step="0.1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >Number of loops in a paradox state <app-code-hint msg="loopCountOnParadox"
    /></mat-label>
    <input matInput formControlName="loopCountOnParadox" type="number" step="1" />
  </mat-form-field>

  <!-- TODO: multiselect with StartupPopups -->
  <mat-form-field>
    <mat-label>Startup popups that have been shown <app-code-hint msg="shownPopups" /></mat-label>
    <input matInput formControlName="shownPopups" type="number" step="1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Version number <app-code-hint msg="version" /></mat-label>
    <input matInput formControlName="version" type="text" />
  </mat-form-field>

  <mat-slide-toggle formControlName="ps5Activity_canResumeExpedition">
    <code>ps5Activity_canResumeExpedition</code>
  </mat-slide-toggle>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><code>ps5Activity_availableShipLogCards</code></mat-panel-title>
      </mat-expansion-panel-header>

      <fieldset formArrayName="ps5Activity_availableShipLogCards">
        @for (_ of ps5Activity_availableShipLogCards.controls; track $index) {
          <div>
            <mat-form-field>
              <mat-label>Card {{ $index }}</mat-label>
              <input matInput [formControlName]="$index" type="text" />
            </mat-form-field>
            <button
              type="button"
              matIconButton
              (click)="removeAt(ps5Activity_availableShipLogCards, $index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

        <button
          type="button"
          matButton
          (click)="ps5Activity_availableShipLogCards.push(fb.nonNullable.control(''))"
        >
          Add<mat-icon>add</mat-icon>
        </button>
      </fieldset>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-slide-toggle formControlName="didRunInitGammaSetting">
    Has configured initial gamma
    <app-code-hint msg="didRunInitGammaSetting" />
  </mat-slide-toggle>

  <button type="submit" matButton="filled" [disabled]="!form.valid">
    Export File<mat-icon>download</mat-icon>
  </button>
</form>
