form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  border: none;

  div {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    &:has(> mat-slide-toggle) {
      align-items: center;
    }

    mat-form-field,
    mat-slide-toggle {
      flex-basis: 100%;
    }
  }
}
