<fieldset [formGroup]="form()">
  <mat-accordion multi>
    @for (key of Object.keys(form().controls); track key) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <code>{{ key }}</code>
            &nbsp;<span class="hint">{{ ShipLogFacts.get(key) ?? Origin.UNKNOWN }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-ship-log-fact-editor [form]="getFormGroup(key)" (delete)="form().removeControl(key)" />
      </mat-expansion-panel>
    }
  </mat-accordion>

  <app-add-to-record
    label="New Fact"
    [suggestions]="shipLogFactIDs"
    [form]="form()"
    (add)="addFact($event)"
  />
</fieldset>
