<mat-form-field>
  <mat-label>{{ label() }}</mat-label>
  <input matInput [(ngModel)]="value" type="text" [matAutocomplete]="autocomplete" />
  <mat-autocomplete #autocomplete="matAutocomplete">
    @for (option of (filteredSuggestions$ | async) ?? []; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<button type="button" matButton [disabled]="(addDisabled$ | async) ?? true" (click)="emitAdd()">
  Add<mat-icon>add</mat-icon>
</button>
